extends header

block form
  hr
  form.form-group(method="POST", action="saveAnswers")
    .bg-info
      .row.padded
        .col-lg-4
          label Example) #{example}
      .row.padded
        .col-lg-4
          .radio
            label(for='answer-0yes')
              input(type='radio', name='answer-0', id='answer-0yes', value="1", checked="checked", required)
              | Yes
            span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            label(for='answer-0no')
              input(type='radio', name='answer-0', id='answer-0no', value="0", disabled, required)
              | No
            br
    hr
    -for(var index = 0; index < questions.length; index++)
      .row.padded
        .col-lg-4
          label #{index}) #{questions[index].question}
      .row.padded
        .col-lg-4
          .radio
            label(for='answer-#{index}yes')
              input(type='radio', name='#{questions[index]._id}', id='answer-#{index}yes', value="1", required)
              | Yes
            span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            label(for='answer-#{index}no')
              input(type='radio', name='#{questions[index]._id}', id='answer-#{index}no', value="0", required)
              | No
      hr
    br
    .row
      .col-lg-1
        input.btn.btn-primary.form-control(type="Submit", value="Submit", id="submit")
      .col-lg-1
        input.btn.btn-default.form-control(type="Reset", value="Reset", id="reset")